@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
:root {
    --primary-green-color: #3C8484;
    --secondary-green-color: #214B4B;
    --light-grey-color: #F7F7F7;
    --light2-grey-color: #F2F2F2;
    --grey-color: #BDBDBD;
    --primary-text-color: #333333;
    --primary-white-text-color: #FFFFFF;
    --bottom-nav-height: 56px;
    --tealgreen-pill-color: #3C8484;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-green-color);
    font-size: 16px;
    overscroll-behavior-y: contain;
}

.App {
    text-align: center;
}